.borda {
  border:5px ridge #ccc;
  margin:0 auto;
  margin-top:10%;
  width:220px;
  height:260px;
  background-color:#ccc;
  box-shadow:0 0 12px black;
  padding:10px;
}

.botoes {
  border-width:2px;
  border-color:black;
  border-style:solid;
  width:200px;
  height:230px;

}

input {
  width:225px;
  height:50px;
  margin-bottom:5px;
  font-size:1.2em;
}

button {
  width:67px;
  height:32px;
}
